//이벤트 css reset
//version 1.3.0

*	{margin:0;padding:0;list-style:none;border:0;}
html	{-webkit-text-size-adjust:none;font-size:10px;}
body	{font-family:-apple-system,BlinkMacSystemFont,sans-serif;} 
body:lang(ko)	{word-break:keep-all;}
body:lang(ja)	{font-family:'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ','Meiryo','Osaka','ＭＳ Ｐゴシック','MS PGothic',Arial,-apple-system,BlinkMacSystemFont,sans-serif;}
body:lang(zh-hans)	{font-family:'Times New Roman',-apple-system,BlinkMacSystemFont,sans-serif;}
body:lang(zh-hant)	{font-family:'微軟正黑體','Microsoft JhengHei',-apple-system,BlinkMacSystemFont,sans-serif;}
body:lang(vi)	{font-family:'Times New Roman',Palatino,Bodoni,Optima,Century,Garamond,-apple-system,BlinkMacSystemFont,sans-serif;}
body:lang(ar)	{direction:rtl;}
img	{width:100%;vertical-align:top;pointer-events:none;}
table	{width:100%;table-layout:fixed;border-spacing:0;border-collapse:collapse;font-family:inherit;}
a, button, select, input, label	{cursor:pointer;outline:0;}
button	{font-family:inherit;font-size:inherit;vertical-align:top;background:none;}
a	{text-decoration:none;}
.flex	{display:flex;justify-content:center;align-items:center;text-align:center;
	&_start	{display:flex;align-items:center;}
	&_end	{display:flex;justify-content:flex-end;align-items:center;}
	&_item	{display:block;width:100%;}
}
input	{
	&::-webkit-input-placeholder	{font-size:2.0rem;color:#000;}
	&::placeholder	{font-size:2.0rem;color:#000;}
}